html{
    font-size: 16px;
}
body{
    height: 100vh;
    font-family: Poppins,sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    background-color: #3f3f3f;
    display: flex;
    flex-flow: column nowrap;
    color: white;

}
main{
    flex: 1;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
li:hover{
    font-weight: bold;
    transform: translateY(-5px);
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5ms;
    cursor: pointer;    
}
header,footer{
    list-style-type: none;
    padding: 10px;
    background-color: #fcce00;
    font-family: 'Raleway';
    color: black;
    font-size: 2em;
}
h1{
    font-size: 4rem;
    margin: 0.6em;
}
.rules{
    color: #fcce00;
    font-size: 2em;
    font-family: 'Raleway';
}

.game-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.computer-game-container{
    transform: scale(0.8);
    opacity: 40%;
}

.battlefield{
    display: flex;
    justify-content: space-evenly;
    gap: 1.2em;
    flex-wrap: wrap;
}
.battlefield > div{
    border: 5px solid gray;
    border-radius: 12px;
    padding: 2em;
}
.battlefield > div:hover{
    background-color: rgba(0, 188, 245, 0.726);
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5ms;
    cursor: pointer;    
}
.player-labels{
    display: flex;
    justify-content: space-around;
}

.results-container{
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

.player-results,.bot-results{
    font-size: 4em;
}
.scorecard{
    background-color: black;
    padding: 0 2em;
    border-radius: 12px;
    margin-bottom: 20px;
}
.scorecard p{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.round-res-div{
    width: 300px;
    font-size: 2em;
}


@media screen and (max-width: 786px){
    html{
        font-size: 12px;
    }
    .battlefield{
        gap: 1em;
    }
    .results-container{
        margin-top: 0;
    }
    .round-res-div{
        width: 100px;
        font-size: 1em;
    }
}