html{
    font-size: 16px;
}
body{
    height: 100vh;
    font-family: Poppins,sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    background-color: #3f3f3f;
    display: flex;
    flex-flow: column wrap;
    color: white;
}
main{
    flex: 1;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    background-color: #fcce00;
    font-size: 2em;
    padding: 20px;
    font-family: 'Raleway';
    color: black;
}
footer{
    background-color: #fcce00;
    font-family: 'Raleway';
    color: black;
}
h1{
    font-size: 4rem;
    margin: 0.6em;
}
.rules{
    color: #fcce00;
    font-size: 2em;
    font-family: 'Raleway';
}

.game-container{
    display: flex;
    justify-content: space-around;
}

.battlefield{
    display: flex;
    justify-content: space-evenly;
    gap: 1.2em;
}
.battlefield > div{
    border: 5px solid gray;
    border-radius: 12px;
    padding: 2em;
}
.battlefield > div:hover{
    background-color: rgba(255, 255, 255, 0.726);
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5ms;
    cursor: pointer;    
}
.player-labels{
    display: flex;
    justify-content: space-around;
}

.results-container{
    display: flex;
    justify-content: space-around;
}

.player-results,.bot-results{
    font-size: 4em;
}